<link rel="import" href="../../styles/app-theme.html">

<dom-module id="app-logic">
  <link rel="import" type="css" href="../app-main.css">

  <template>
  <style>
    :host {
      display: block;
    }

    iron-pages {
      height: 100%;
    }

  </style>

  <paper-drawer-panel id="paperDrawerPanel" right-drawer>
      <div drawer>
        <!-- Drawer Toolbar -->
        <paper-toolbar id="drawerToolbar">
          <span class="paper-font-title">Menu</span>
        </paper-toolbar>

        <!-- Drawer Content -->
        <paper-menu class="list" attr-for-selected="data-route" selected="{{route}}" on-iron-select="onMenuSelect">
          <a data-route="news" href="/#!/news">
            <iron-icon icon="view-list"></iron-icon>
            <span>{{config.language.titleNews}}</span>
          </a>

          <a data-route="chat" href="/#!/chat">
            <iron-icon icon="dashboard"></iron-icon>
            <span>{{config.language.titleChat}}</span>
          </a>

          <a data-route="profile" href="/#!/profile">
            <iron-icon icon="face"></iron-icon>
            <span>{{config.language.titleProfile}}</span>
          </a>

          <a data-route="logout" href="/#!/logout">
            <iron-icon icon="close"></iron-icon>
            <span>{{config.language.titleLogout}}</span>
          </a>

        </paper-menu>
      </div>
      <!-- Main Area -->
      <paper-scroll-header-panel main fixed>

        <!-- Main Toolbar -->
        <paper-toolbar id="mainToolbar">

          <span class="flex"></span>

          <div id="logo" class="paper-font-display2 app-name">

            <iron-image style="background-position-x: 100%;width:100%; height:100%;" sizing="cover" src="{{config.app.logo}}"></iron-image>

          </div>

          <span class="flex"></span>

          <paper-icon-button id="paperToggle" class="menu-button" icon="menu" paper-drawer-toggle> </paper-icon-button>

        </paper-toolbar>

        <!-- Main Content -->
          <iron-pages id="pageBase" attr-for-selected="data-route" selected="{{route}}">
            <section data-route="news">
              <page-news></page-news>
            </section>

            <section data-route="chat">
                <paper-material class="thechat" elevation="1">
                  <h2 class="paper-font-display2">{{config.language.titleChat}}</h2>
                  <page-chat class="thechat" userData='{{config.userProfile}}'></page-chat>
                </paper-material>
            </section>

            <section data-route="profile">
              <animation-tag animation="slideInUp">
                <paper-material elevation="1">
                  <h2 class="paper-font-display2">{{config.language.titleProfile}}</h2>
                  <page-profile userData='{{config.userProfile}}' </page-profile>
                    <!-- <google-map></google-map> -->
                </paper-material>
              </animation-tag>
            </section>

            <section data-route="logout">
              <animation-tag animation="zoomIn">
                <paper-material elevation="1">
                  <h2 class="paper-font-display2">{{config.language.titleLogout}}</h2>
                  <page-logout page="{{pageSelector}}" auth="{{authDetect}}"></page-logout>
                </paper-material>
              </animation-tag>
            </section>

          </iron-pages>
      </paper-scroll-header-panel>
    </paper-drawer-panel>

  </template>
</dom-module>

<script>

  Polymer({
    is: "app-logic",
    properties: {
      route: {
        type: String,
        notify: true
      },
      pageSelector: {
        type: String,
        notify: true
      },
      authDetect: {
        type: Boolean,
        notify: true
      },
      config: {
        type: Object,
      }
    },
		onMenuSelect: function () {
			if (this.$.paperDrawerPanel.narrow) {
				this.$.paperDrawerPanel.closeDrawer();
			}
		},
		_openMenu: function () {
			this.$.paperDrawerPanel.openDrawer();
		},


  });

</script>
