<dom-module id="app-logo-screen">

	<template>
		<style>
			:host {
				display: block;
				color: white;
				font-weight: 100;
				width: 100%;
			}

			.center{
				text-align: center;
				padding: 30px 0 0 0;
			}

			#title{
				font-size: 26px;
				margin-bottom: 6px;
			}

			 #description{
				font-size: 20px;
				margin-bottom: 6px;
			}

			#logo{
				height: 60px;
			}


		</style>

		<div class="center">

				<img class="" id="logo" src="{{logo}}" alt="YourAppName">
				<div class="" id="title">{{title}}</div>
				<div class="" id="description">{{description}}</div>

		</div>

	</template>
</dom-module>

<script>

	Polymer({
		is: 'app-logo-screen',
		properties:{
			title		: String,
			description	: String,
			logo		: {
				type:String
			}
		}
	});

</script>
